<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <title th:text="${albumDetails.title}"></title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Favicons -->
        <link href="img/logo.png" rel="icon">
        <link href="img/logo.png" rel="apple-touch-icon">

        <!-- Main CSS File -->
        <link href="css/style.css" rel="stylesheet">

        <!-- AOS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <!-- FontAwesome -->
        <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">

        <!-- Javascript & AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="js/searchBar.js" type="text/javascript"></script>  <!-- Load search bar -->
        <script src="js/search_btn.js" type="text/javascript"></script> <!-- Search function -->

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="main">
            <!-- Value taken by Thymeleaf to understand if the user is logged in and if he is an admin -->
            <input type="hidden" id="is_logged" th:value="${logged}"/>
            <input type="hidden" id="is_admin" th:value="${admin}"/>
            <!-- Dynamic header -->
            <header class="header sticky-top shadow">

            </header>
            <!-- End header -->
            <section id="hero" class="d-flex flex-column align-items-center container-fluid p-3">
                <div class="gap-1 d-flex flex-column container-fluid justify-content-center" data-aos="zoom-in" data-aos-delay="150">
                    <div id="album_info" class="d-flex mb-1 align-items-center col-md-12">
                        <img id="album_cover" class="album-cover" th:src="${albumDetails.coverURL}" alt="Copertina Album"/>
                        <div id="album_details" class="album-details d-flex flex-column">
                            <h1 id="album_title" class="display-5 mb-0 fw-bold" th:text="${albumDetails.title}"></h1>
                            <div class="d-flex mt-0 mb-0 gap-3 align-items-center">
                                <p id="album_artists_page" th:text="${#strings.arrayJoin(albumDetails.artists, ', ')}"></p>
                                <p id="release_date_page" th:text="${albumDetails.year}"></p>
                                <p id="album_duration_page" th:text="${albumTotalDuration}"></p>
                            </div>
                            <div class="d-flex gap-3">
                                <div id="like_album_container" class="d-flex w-25 align-items-center">
                                    <button id="like_album_btn" class="btn btn-danger ms-1" type="button" th:disabled="${not logged or session.role == 'admin'}">
                                        <i class="fas fa-heart me-1"></i>Like
                                    </button>
                                    <div id="number_of_likes_album" class="ms-3" th:text="${albumDetails.likes}"></div>
                                </div>
                                <div id="average_rating_container" class="d-flex w-25 align-items-center">
                                    <span class="text-bg-warning p-3">
                                        Average rating
                                    </span>
                                    <i class="fa fa-star me-1 ps-3"></i>
                                    <div id="average_rating" th:text="${albumDetails.averageRating}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-1">
                        <div id="album_songs" class="d-flex flex-column row-gap-1 col-md-6 p-1">
                            <div th:each="song : ${albumDetails.songs}" class="song-container d-flex justify-content-between align-items-center p-1">
                                <div class="d-flex gap-3 align-items-center">
                                    <i class="fa fa-music ms-3"></i>
                                    <div class="d-flex flex-column ps-1 pt-1">
                                        <p style="font-size: large; font-weight: bold;" class="mt-1 mb-0" th:text="${song.name}"></p>
                                        <p style="font-size: medium;" class="mt-1">
                                            <i class="fas fa-clock me-1"></i>
                                            <span th:text="${song.duration_minSec}"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center" id="like_container">
                                    <button class="btn btn-primary like-song-btn" type="button" th:disabled="${not logged or session.role == 'admin'}">
                                        <i class="fas fa-heart me-1"></i>Like: <span th:text="${song.likes}"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column col-md-6">
                            <div id="album_reviews" class="d-flex flex-column">
                                <div id="latest_reviews" class="d-flex flex-column row-gap-1 p-1">
                                    <h1 style="text-align: center">Last 5 reviews</h1>
                                    <div th:each="review : ${albumDetails.lastReviews}" class="album-review d-flex flex-column p-3">
                                        <div class="d-flex align-items-center gap-1">
                                            <h4 th:text="${review.username}" class="user_review"></h4>
                                            <h5 class="rating_review text-bg-dark p-1 ps-3 pe-3">
                                                <i class="fas fa-star me-1"></i>
                                                <span th:text="${review.rating}"></span>
                                            </h5>
                                        </div>
                                        <div th:text="${review.text}" class="text_review"></div>
                                    </div>
                                </div>
                                <div class="d-flex gap-1">
                                    <button id="albumReviews_btn" class="btn btn-primary mt-1 col-6" type="button">View all the reviews</button>
                                    <button id="writeReview_btn" class="btn btn-primary mt-1 col-6" type="button" th:disabled="${not logged or session.role == 'admin'}">Write a review</button>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
            </section>
        </div>

        <!-- JavaScript's management of the buttons -->
        <script th:inline="javascript">
            $(document).ready(function () {
                let albumId = /*[[${albumDetails.id}]]*/ null;
                let logged = /*[[${logged}]]*/ false;
                let username = /*[[${session.username}]]*/ null;

                if (albumId == null) {
                    alert("albumId is null");
                }
                else {
                    let viewAllReviewBtn = $("#albumReviews_btn");
                    if (viewAllReviewBtn != null) {
                        $(viewAllReviewBtn).click(function (){
                            window.location.href = '/albumReviews?albumId=' + albumId;
                        });
                    } else
                        alert("viewAllReviewBtn not found");

                    let writeReviewBtn = $("#writeReview_btn");
                    if (logged === false)
                        ;
                    else if (writeReviewBtn !== null) {
                        $(writeReviewBtn).click(function (){
                            window.location.href = '/writeReview?albumId=' + albumId;

                        });
                    } else
                        alert("writeReviewBtn not found");

                    if (logged === true && username != null) {
                        const likeAlbumBtn = $("#like_album_btn");
                        $(likeAlbumBtn).click(function () {
                            let albumTitle = /*[[${albumDetails.title}]]*/ null;
                            let artistsAsString = /*[[${#strings.arrayJoin(albumDetails.artists, ', ')}]]*/ null;

                            $.ajax({
                                url: '/api/addLikesAlbum',
                                dataType: 'json',
                                type: 'POST',
                                data: {
                                    username: username,
                                    albumTitle: albumTitle,
                                    artists: artistsAsString
                                },
                                success: function (response) {
                                    if (response.outcome_code == 0){
                                        likeAlbumBtn.css("background-color", "green");
                                        likeAlbumBtn.css("border-color", "green");
                                    }
                                    else if (response.outcome_code == 1)
                                        alert("You have already liked this album");
                                    else
                                        alert("Error occurred while adding like to album");
                                },
                                error: function (xhr, status, error) {
                                    console.log("ERROR: " + error);
                                }
                            });
                        });

                        $('.like-song-btn').click(function () {
                            let songContainer = $(this).closest(".song-container");
                            let albumTitle = /*[[${albumDetails.title}]]*/ null;
                            let artistsAsString = /*[[${#strings.arrayJoin(albumDetails.artists, ', ')}]]*/ null;
                            let songTitle = songContainer.find("p").first().text();
                            let thisBtn = $(this);

                            $.ajax({
                                url: '/api/addLikesSong',
                                dataType: 'json',
                                type: 'POST',
                                data: {
                                    username: username,
                                    albumTitle: albumTitle,
                                    artists: artistsAsString,
                                    songName: songTitle
                                },
                                success: function (response) {
                                    if(response.outcome_code == 0){
                                        thisBtn.css("background-color", "green");
                                        thisBtn.css("border-color", "green");
                                    }
                                    else if(response.outcome_code == 1)
                                        alert("You have already liked this song.");
                                    else
                                        alert("Error occurred while adding like to song");
                                },
                                error: function (xhr, status, error) {
                                    console.log("Error: " + error);
                                }
                            });
                        });
                    }
                }
            });
        </script>

        <!-- AOS JavaScript -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>