<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="js/login.js"></script>
</head>
<body>
<div class="login-container">
<!--    <form action="/process-login" method="post">-->
    <form>
        <h2>Login</h2>
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button id="btn_login" type="button">Login</button>
        <button type="button" onclick="location.href='/register'">Register</button>
    </form>
</div>
</body>
</html>
