html, body {
    font-family: "Poppins", sans-serif;
    color: #282828;
    margin: 0; 
    height: 100%;
}

a {
    color: #a412ff;
    text-decoration: none;
}
  
a:hover {
    color: #cc7aff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

/*-------------------------------------------------------------
# User style
--------------------------------------------------------------*/
.container-white {
    background-color: #ffffff42;
    border-radius: 10px;
}

/*-------------------------------------------------------------
# Welcome page container
--------------------------------------------------------------*/
#welcome_container {
    padding-top: 8%;
    padding-bottom: 8%;
}

#welcome_container h5 {
    color: #373737;
}

/*-------------------------------------------------------------
# Carousel of most popular
--------------------------------------------------------------*/

.carousel-caption h1 span{
    color: #a412ff;
    text-shadow:-1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px  1px 0 #ffffff, 1px  1px 0 #ffffff;
}

#most_popular_albums, #most_popular_artists, #most_popular_songs {
    text-align: center;
}

#most-popular-carousel {
    overflow: hidden;
    flex: 1;
}

#most-popular-carousel .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #282828cb;
}

#most-popular-carousel .carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    transition: transform 0.2s ease-in-out;
    transition: background-color 0.2s;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    transform: scale(1.1);
    background-color: #a412ff91;
}

.carousel-caption {
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s;
    text-decoration: none;
}

.carousel-caption h5 {
    color: white;
    font-size: 1.5em;
}

.carousel-caption p {
    color: #f8f9fa;
    font-size: 1em;
    display: inline;
}

.carousel-caption .fa-arrow-right {
    margin-left: 10px;
}

.carousel-caption:hover {
    cursor: pointer;
    background-color: #a412ff7a;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@keyframes arrowAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}

.carousel-caption:hover .fa-arrow-right {
    animation: arrowAnimation 0.5s ease-in-out forwards;
}

/* Dimensione massima dell'immagine */
#album-cover {
    width: 15%;
}

#followedUsers_btn:hover {
    background-color: #057f6a;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #2828286b;
}

#followed_container {
    max-height: 300px;
}

#user_reviews {
    background-color: rgba(40, 40, 40, 0.45);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    height: 300px;
}

#user_reviews h1>span {
    color: #282828;
    font-weight: bold;
}

.rev_container {
    background-color: rgba(250, 250, 250, 0.45);
    color: #282828;
    border-radius: 10px;
}

#show_follower_btn:hover {
    font-weight: bold;
    cursor: pointer;
}

#liked_albums_btn:hover {
    background-color: #057f6a;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px 3px #2828286b;
}

#liked_albums_btn i{
    font-size: 20px;
}

#liked_albums_container{
    max-height: 300px;
}

#liked_songs {
    background-color: rgba(40, 40, 40, 0.45);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

#liked_songs_btn i{
    font-size: 20px;
}

#liked_songs_btn:hover {
    background-color: #057f6a;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px #2828286b;
}

#liked_songs_container{
    max-height: 300px;
}

#user_details {
    color: white;
}

#user_details div {
    background-color: rgba(40, 40, 40, 0.45);
    border: 1px solid #282828;
    padding: 5px;
    text-align: center;
}

#user_details>#name {
    border-radius: 5px 0 0 5px;
}

#user_details>#surname {
    border-radius: 0;
}

#user_details>#birthday {
    border-radius: 0 5px 5px 0;
}

#followed_main {
    background-color: rgba(40, 40, 40, 0.45);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

#followed_main i{
    font-size: 16px;
}

.main {
    min-height: 100%;
    background: linear-gradient(45deg, #07c9a9ba 0%, #a412ffe5 100%), url("../img/bg.jpg") center center no-repeat;
    background-size: cover;
}

.main .tab-content {
    padding-top: 7%;
    padding-bottom: 7%;
}

/*#search-result {
    background-color: #ffffff8d;
    border-radius: 10px 10px 10px 10px;
}*/

.result-container {
    transition: all 0.5s;
    text-align: center;
    border-radius: 10px;
}

.result-container:hover {
    border-radius: 10px;
    background-color: #e8c6fc;
    border: solid 2px #a412ff;
    box-shadow: 0px 0px 20px 3px #2828286b;
}

#discover {
    background: linear-gradient(45deg, #282828d1 0%, #282828d1 100%), url('../img/discover-bg.jpg') center center no-repeat;
    transition: all 1s;
}

#discover a{
    text-align: center;
}

#discover h1 {
    font-weight:400;
}

#discover span{
    color: #057f6a;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px  1px 0 #ffffff, 1px  1px 0 #ffffff;
}

#discover p{
    font-size: large;
    display: inline;
}

#discover .text-container {
    text-decoration: none; /* Rimuove la sottolineatura del link */
    color: white; /* Mantiene il colore del testo ereditato dal parent */
    padding: 15%;
    transition: all 1s;
}

#discover .text-container .fa-arrow-right {
    margin-left: 10px; /* Aggiunge spazio a sinistra dell'icona */
}

#discover:hover {
    border: solid 5px #057f6a;
}

#discover:hover .text-container {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombra nera per maggiore contrasto */
}

@keyframes arrowAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}

#discover:hover .fa-arrow-right {
    animation: arrowAnimation 0.5s ease-in-out forwards;
}

/*-------------------------------------------------------------
# Login section
--------------------------------------------------------------*/
.main>#login {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 70px;
    border: solid 2px #282828;
    border-radius: 10px;
    background-color: #ffffff42;
}

.main>#login h1, .main>#login input, .main>#login button {
    text-align: center;
}

.main>#register {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 2px #282828;
    border-radius: 10px;
    background-color: #ffffff42;
}

.main>#register h1, .main>#register input, .main>#register button {
    text-align: center;
}

.main>#write_review {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 2px #282828;
    border-radius: 10px;
    background-color: #ffffff42;
}

#write_review h1 {
    text-align: center;
}

#most_popular_container {
    border-radius: 10px;
    background-color: #ffffff42;
}

.chart-container {
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.71);
    color: white;
    max-height: 550px;
}

.chart-container h1{
    text-align: center;
}

.top-container {
    border-radius: 10px;
    background-color: #ffffff4e;
    color: #282828;
    text-decoration: none;
}

.top-container:hover {
    color: #282828;
    background-color: #07c9a9;
}

.recom-container {
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.71);
    color: white;
}

/*-------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    background-color: #282828;
    padding: 20px;
}

#logo a{
    text-decoration: none;
    color: #ffffff;
}

#logo a:hover {
    text-decoration: none;
    color: #07c9a9;
}

#navbar li .nav-link {
    color: #ffffff;
}

#navbar li .nav-link.active{
    color: #07c9a9;
}

#navbar li .nav-link:hover {
    color: #07c9a9;
}

#navbar li .nav-link.btn-explore {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #057f6a;
    border-radius: 5px;
}

#navbar li .nav-link.btn-explore.active {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #a412ff;
    border-radius: 5px;
}

#navbar li .nav-link.btn-explore:hover {
    background-color: #07c9a9;
    color: white;
}

/*-------------------------------------------------------------
# Search box
--------------------------------------------------------------*/
#search-container {
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    margin: 15px auto 20px;
}

#search-container #search_input {
    border-radius: 10px 0px 0px 10px;
    border: none;
}

#category_input {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 0px;
    background-color: #cc7aff;
    color: #282828;
}

/*--------------------------------------------------------------
# Suggested
--------------------------------------------------------------*/
#friend_songs {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 15px 2px #28282847;
    color: #282828;
}

#common_songs {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 15px 2px #28282847;
    color: #282828;
}

.suggested-song {
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(55, 55, 55, 0.41);
}

.song-cover {
    max-width: 20%;
    height: 20%;
    border-radius: 10px;
}

#suggested_user_container:hover {
    background-color: #a412ff;
}

.song-details h1, .song-details p {
    margin: 0;
}

.view_details_btn {
    border-radius: 10px;
}

.view_details_btn:hover {
    border-radius: 10px;
    background-color: #a412ff;
    box-shadow: 0px 0px 30px 5px rgba(40, 40, 40, 0.15);
    cursor: pointer;
    color: white;
}

#suggested_user_container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #282828;
}

.suggested-user {
    background-color: rgba(55, 55, 55, 0.41);
    border-radius: 10px;
}

.suggested-user:hover {
    border-radius: 10px;
    background-color: #a412ff;
    box-shadow: 0px 0px 30px 5px rgba(40, 40, 40, 0.15);
    cursor: pointer;
}

/*--------------------------------------------------------------
# Most popular
--------------------------------------------------------------*/
.card {
    transition: all 0.5s;
}

.card:hover {
    background-color: #e8c6fc;
    border: solid 3px #a412ff;
}


#user_inf {
    border-radius: 10px;
    background-color: #2828286e;
    color: white;
}

#user_anagr {
    display: flex;
    gap: 2px;
}

#user_anagr>#name, #user_anagr>#surname {
    flex-grow: 1;
    background-color: #282828c2;
    color: white;
}

#user_anagr>#birthday {
    flex-grow: 1;
}

#user_anagr>#name, #user_anagr>#surname, #user_anagr>#follower, #user_anagr>#birthday {
    border: solid 1px #282828;
}

#user_anagr>#follower {
    flex-grow: 2;
}

#user-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#action-user {
    display: flex;
    flex-grow: 1;
    gap: 2px;
}

#liked_albums {
    background-color: rgba(40, 40, 40, 0.45);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

#album_info {
    border-radius: 10px;
    background-color: #2828286e;
    color: white;
    text-decoration: none;
}

.album-cover {
    width: 20%;
    height: 100%;
    border-radius: 10px;
}

.rating_review {
    border-radius: 10px;
}

.album-review {
    border: solid 2px #282828;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.438);
}

#latest_reviews {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.195);
}

.album-details {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex: 6;
    gap: 20px;
}

.album-details p{
    font-size: medium;
}

.artist-details {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex: 6;
    gap: 20px;
}

#write_review {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.195);
}

#album_songs {
    border-radius: 10px;
    background-color: #2828286e;
    color: white;
}

#artist_album_songs {
    border-radius: 10px;
    background-color: #2828286e;
    color: white;
}

#artist_albums {
    border-radius: 10px;
    background-color: #2828286e;
    color: white;
}

#like_album_container {
    border-radius: 5px;
    background-color: #ffffff6e;
}

#like_container {
    border-radius: 5px;
    background-color: #2828286e;
}

.song-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.438);
    color: #282828;
}

#like-button {
    margin-top: auto; /* Posiziona il pulsante "Mi Piace" in basso all'interno del div */
}

.top-cover {
    border-radius: 10px;
    width: 20%;
    margin-right: 5px;
}

.top-cover-single {
    border-radius: 10px;
    width: 10%;
    margin-right: 5px;
}

.album-cover-sm {
    border-radius: 10px;
    width: 10%;
    height: 10%;
    margin-left: 15px;
}

.album-details-sm {
    color: #282828;
    align-content: center;
    padding: 10px;
    gap: 5px;
}

#artist_name {
    color: #282828;
    align-content: center;
    padding: 10px;
}

.song-cover-sm {
    border-radius: 10px;
    width: 10%;
    height: 10%;
    margin-left: 15px;
}

.song-details-sm {
    color: #282828;
    align-content: center;
    padding: 10px;
    gap: 5px;
}

.artist-img-sm {
    border-radius: 10px;
    width: 10%;
    height: 10%;
    margin-left: 15px;
}

#song_info, #artist_info {
    border-radius: 10px;
    background-color: #2828286e;
    color: white;
    text-decoration: none;
}

.modal-body>#song_info:hover, .modal-body>#artist_info:hover, .modal-body>#album_info:hover, .modal-body>#user_info:hover {
    background-color: #cc7aff;
    cursor: pointer;
}

.modal-body>#user_info {
    border-radius: 10px;
    background-color: #2828286e;
    color: #282828;
    text-decoration: none;
    padding: 5px;
    align-content: center;
}

.modal-header {
    background-color: #282828;
    color: white;
}

#average_rating_container {
    background-color: #ffffa594;
    border-radius: 5px;
    color: #282828;
}

#average_rating_container span{
    border-radius: 5px 0 0 5px;
}

#album_artists_page, #release_date_page, #album_duration_page {
    border-bottom: solid 1px white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.artist-img {
    width: 20%;
    height: 100%;
    border-radius: 10px;
}

#artist_album_songs>.song-container:hover {
    background-color: #07c9a9;
    cursor: pointer;
}

.user_foll{
    border-radius: 10px;
    background-color: #ffffff6e;
    color: #282828;
    text-decoration: none;
    padding: 5px;
    align-content: center;
}

.user_foll:hover {
    background-color: #07c9a9;
}

.user_foll h5:hover {
    cursor: pointer;
}

.album_liked, .song_liked{
    border-radius: 10px;
    background-color: #ffffff6e;
    color: #282828;
    text-decoration: none;
    padding: 5px;
    align-content: center;
}

.album_liked:hover, .song_liked:hover {
    background-color: #07c9a9;
}

.album_inf:hover, .song_inf:hover {
    cursor: pointer;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn.btn-primary {
    border-color: #282828;
    background-color: #282828;
}

.btn.btn-primary:hover {
    border-color: #a412ff;
    background-color: #a412ff;
}

.btn.btn-primary:disabled {
    background-color: #373737; /* Cambia il colore di sfondo */
    color: #888888; /* Cambia il colore del testo */
    cursor: not-allowed; /* Cambia il cursore del mouse */
    border-color: #373737;
}

.btn.btn-outline-secondary {
    color: #282828;
    border-color: #282828;
}

.btn.btn-outline-secondary:hover {
    border-color: #cc7aff;
    background-color: #cc7aff;
}

.btn.btn-success {
    background-color: #07c9a9;
    border-color: #07c9a9;
    border-radius: 0px 10px 10px 0px;
    color: #282828;
}

.btn.btn-success:hover {
    background-color: #057f6a;
    border-color: #057f6a;
    color: #282828;
}

#logout_btn {
    border-radius: 10px;
}

.admin-buttons {
    text-align: center;
    color: #282828;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
}

#most-popular-album {
    padding: 40px;
    border: none;
    color: #ffffff;
    font-size: xx-large;
    transition: all 0.5s;
    margin: 0;
    font-weight: bolder;
    background: linear-gradient(45deg, #282828cc 0%, #282828cc 100%), url("../img/best-album.jpg") center center no-repeat;
}

#most-popular-album:hover {
    border: solid 3px #057f6a;
    color: #282828;
    background: linear-gradient(45deg, #07c9a9cc 0%, #07c9a9cc 100%), url("../img/best-album.jpg") center center no-repeat;
}

#most-popular-song {
    padding: 40px;
    border: none;
    color: #ffffff;
    font-size: xx-large;
    transition: all 0.5s;
    margin: 0;
    background: linear-gradient(45deg, #282828cc 0%, #282828cc 100%), url("../img/best-album.jpg") center center no-repeat;
}

#most-popular-song:hover {
    border: solid 3px #057f6a;
    background: linear-gradient(45deg, #07c9a9cc 0%, #07c9a9cc 100%), url("../img/best-album.jpg") center center no-repeat;
}

#most-popular-artist {
    padding: 40px;
    border: none;
    color: #ffffff;
    font-size: xx-large;
    transition: all 0.5s;
    border: none;
    margin: 0;
    background: linear-gradient(45deg, #282828cc 0%, #282828cc 100%), url("../img/best-album.jpg") center center no-repeat;
}

#most-popular-artist:hover {
    border: solid 3px #057f6a;
    background: linear-gradient(45deg, #07c9a9cc 0%, #07c9a9cc 100%), url("../img/best-album.jpg") center center no-repeat;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background-color: #a412ffac;
    width: 40px;
    height: 30px;
    border-radius: 200px;
    transition: all 0.4s;
    text-align: center;
    padding-top: 10px;
}

.back-to-top:hover {
  background-color: #cc7aff;
}

.back-to-top .icon {
    width: 50%;
}

.nav-item>a>#icon {
    width: 20%;
}
