<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <style>
        /* Stile CSS integrato */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 100px;
        }

        h1 {
            font-size: 36px;
            text-transform: uppercase;
            color: #333;
        }
    </style>
</head>
<body>
<h1>Album NOT found :-(</h1>
</body>
</html>
